header {
  background-image: none;
  background-color: #232323;
}
#button-search-index2 {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
.full-card {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: absolute;
  top: 60px;
  left: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
body > header > div.full-card > div.card-image.pulp-fiction {
  background-image: url('images/page1/pulpFiction.png');
  width: 250px;
  height: 100%;
}
.full-description-movie {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}
h1.full-movie-title {
  color: white;
  font-weight: 300;
  font-size: 30px;
  display: inline;
  margin-right: 20px;
 
}
div.full-movie-title-rating {
  font-size: 15px;
  font-weight: 300;
  color: white;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 2px;
  padding: 6px;
  border: solid white 1px;
  border-radius: 35px;
}
p.full-movie-genry {
  font-size: 10px;
  font-weight: 500;
  color: #808080;
  margin-top: 8px;
}
div.full-year-and-runtime {
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 82, 97);
  display: flex;
  gap: 40px;
}
.full-description-item {
  color: #808080;
  font-size: 14px;
}

